
  /*
@font-face {
  font-family: fontLists;
  src: url('https://fonts.googleapis.com/css?family=Dela+Gothic+One');
 
 

   
  src: url(../../fonts/FugazOne-Regular.ttf);
   src: url(../../fonts/Mitr-Regular.ttf);
  

  */





@media only screen and (max-width: 500px){
	.rh6{
		font-size: 15px;
	}

	.rh5{
		font-size: 17px;
	}

	.rh4{
		font-size: 19px;
	}

	.rh3{
		font-size: 21px;
	}

	.rh2{
		font-size: 23px;
	}

	.rh1{
		font-size: 25px;
	}			
}

@media only screen and (min-width: 501px){
	.rh6{
		font-size: 19px;
	}

	.rh5{
		font-size: 21px;
	}

	.rh4{
		font-size: 23px;
	}

	.rh3{
		font-size: 25px;
	}

	.rh2{
		font-size: 27px;
	}

	.rh1{
		font-size: 29px;
	}			
}

	input.numberNoControls::-webkit-outer-spin-button,
	input.numberNoControls::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	
	.numberNoControls{
		-moz-appearance: textfield;
	}
    
.menuBut{
	max-height: 35vh;
}
			
@media only screen and (max-width: 500px){
	.slimLIproductPrice{
		font-size: 15px;
	}
			
}
@media only screen and (min-width: 501px){
	.slimLIproductPrice{
		font-size: 20px;
  		}
}

@media only screen and (min-width: 1201px){
	#checkoutList{
		column-count: 2;
  		}
}

		    
#sideCart{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: 2000;
    left: -100vw;
    transition: left 0.3s;
}


			@media only screen and (max-width: 700px){
				#sideCartList{
					width: 90%;
				}
					
		    }
			@media only screen and (min-width: 701px){
				#sideCartList{
					width: 70%;
	    		}
			}
			
			#sideCartList{
				max-height: 70vh;
				bottom: 0;
				overflow-y: auto;
			}
			
			#sideCartClose{
                font-size: 30px;
                position: absolute;
                right: 5%;
            }
			
			#toCheckout{
				position: absolute;
				bottom: 5vh;
			}
			
			@media only screen and (max-width: 700px){
				#toCheckout{
					width: 70vw;
					left: 15vw;
				}
					
		    }
			@media only screen and (min-width: 701px){
				#toCheckout{
					width: 40vw;
					left: 30vw;
	    		}
			}
			
			.cartLIClose {
				animation-name: cartLIClose;
				animation-timing-function: ease-in-out;
				animation-duration: 0.3s;
			}
			.checkoutLIClose {
				animation-name: checkoutLIClose;
				animation-timing-function: ease-in-out;
				animation-duration: 0.3s;
			}
		    .notificationsLIClose {
				animation-name: notificationsLIClose;
				animation-timing-function: ease-in-out;
				animation-duration: 0.1s;
			}
			
		    .orderLIFlipIn {
				animation-name: orderLIFlipIn;
				animation-duration: 0.1s;
			}
			.orderLIFlipOut {
				animation-name: orderLIFlipOut;
				animation-duration: 0.1s;
			}
			
			.fadingBlue {
				animation-name : fadingBlue;
				animation-duration: 0.3s;
			}
			
			
			
			/*questo funziona bene*/
			@keyframes cartLIClose { 
				0% {  transform: rotateX(0deg); height: 100%; }
                100% { transform: rotateX(90deg); height: 0;}
				
			}

			/*questo funziona bene*/
			@keyframes checkoutLIClose { 
				0% {  transform: rotateX(0deg);}
                100% { transform: rotateX(90deg); height: 0;}
			}
			
			@keyframes notificationsLIClose { 
				0% {  transform: rotateX(0deg); height: 100%; }
                100% { transform: rotateX(90deg); height: 0;}
			}

			@keyframes orderLIFlipOut { 
				0% {  transform: rotateX(0deg); height: 100%; }
                100% { transform: rotateX(90deg); height: 0;}
			}

			@keyframes orderLIFlipIn { 
				0% {  transform: rotateX(90deg); height: 0%; }
                100% { transform: rotateX(0deg); height: 100%;}
			}

			@keyframes swipeIn { 
                0% { right: -100%; }
				100% {  right: 0; }
			}

			@keyframes swipeOut { 
                0% { right: 0%; }
				100% {  right: -100%; }
			}	

			
			@keyframes switchTab {
                0% { z-index: 1; filter: blur(0px) brightness(1); }
			    50% { filter: blur(5px) brightness(0.4); }
			    60% { z-index: 1; }
			    66% { z-index: 1; left: -100%; filter: blur(0px) brightness(1);}
                100% {left: 0%;}
            }
			
			@keyframes fadingBlue {
                0% { background-color: rgb(70, 70, 210); filter: blur(5px) brightness(1); }
			    50% { filter: blur(0px);  }
			    66% {  filter: blur(0px) brightness(1);}
                100% {background-color: rgb(255, 255, 255)}
            }
			
			
			.swipeIn {
				animation-name: swipeIn;
				animation-timing-function: ease-in-out;
				animation-duration: 0.2s;
			}
			
			.swipeOut {
				animation-name: swipeOut;
				animation-timing-function: ease-in-out;
				animation-duration: 0.2s;
			}
			
			[id*="view"] {
			    position: relative;
			}
			
			.btn-lg {
			    width: 100%;
				height: 100%;
			}